{% extends 'calorie_counter_app/base.html' %}
{% block header %}
    <h1>Food : {{ food }}</h1>
{% endblock header %}
{% block content %}

    <ul>
        <li>
            <h3>Calories : {{calories}}</h3>
        </li>
        <li>
            <h3>Carbohydrates : {{carbohydrates}}</h3>
        </li>
        <li>
            <h3>Cholestrol : {{cholestrol}}</h3>
        </li>
        <li>
            <h3>Fat : {{fat}}</h3>
        </li>
        <li>
            <h3>Fiber : {{fiber}}</h3>
        </li>
        <li>
            <h3>Protein : {{protein}}</h3>
        </li>
        <li>
            <h3>Saturated Fat : {{saturated_fat}}</h3>
        </li>
    </ul>
    <p>
        <h3><a href="{% url 'calorie_counter_app:edit_food' food.id %}">edit food</a></h3>
    </p>
    <p>
        <h3><a href="{% url 'calorie_counter_app:delete_food' food.id %}">delete food</a></h3>
    </p>
{% endblock content %}