{% extends "calorie_counter_app/base.html" %}
{% block header %}
    <div class='jumbotron'>
        <h1>Track your Activity.</h1>
    </div>
{% endblock header %}

{% block content %}
    <h2>
        <a href="{% url 'users:register' %}">Register an account</a> to add 
            foods and workouts you do during the day and find out what you are
            doing with the calories you earn or burn.
    </h2>
    <h2>
        The calorie counter app is a great way to keep track of all
        the calories you are burning every day.
    </h2>
{% endblock content %}