{% extends "calorie_counter_app/base.html" %}
{% block header %}
    <h1>My Informations</h1>
{% endblock header %}
{% block content %}

    <h2>Foods</h2>

    <ul>
        {% for food in foods %}
        
            <li><h3><a href="{% url 'calorie_counter_app:food' food.id %}">{{ food }}</a></h3></li>
        {% empty %}
            <li>No foods have been added yet.</li>
        {% endfor %}
    </ul>
    <h3><a href="{% url 'calorie_counter_app:new_food' %}">Add a new food:</a></h3>
    
    <h2>Workouts</h2>
    <ul>
        {% for workout in workouts %}
            <li><h3><a href="{% url 'calorie_counter_app:workout' workout.id %}">{{ workout }}</a></h3></li>
        {% empty %}
            <li>No workouts have been added yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'calorie_counter_app:new_workout' %}">Add a new workout:</a>
    <h3>Calorie Earned : {{calorieEating}}</h3>
    <h3>Calorie Burned : {{calorieBurned}}</h3>
    <h3>Final Calorie : {{final_calorie}}</h3>
{% endblock content %}